<div class="container mt-4">
  <h1 class="mb-4">Manage Members</h1>
  <div class="mb-3">
    <%= link_to "New Member", new_manage_member_path, class: "btn btn-primary" %>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Remove</th>
          <th>UID</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |member| %>
          <tr>
            <td><%= member.full_name %></td>
            <td><%= member.email %></td>
            <td>
                <form action="<%= manage_member_update_role_path(member.uid) %>" method="post">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <div class="input-group">
                <select name="role" class="form-select">
                    <option value="Admin" <%= 'selected' if member.role == 'Admin' %>>Admin</option>
                    <option value="Member" <%= 'selected' if member.role == 'Member' %>>Member</option>
                </select>
                <input type="hidden" name="uid" value="<%= member.uid %>">
                <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
            </td>
            <td>
              <%= button_to "Remove", manage_member_path(member.uid), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </td>
            <td>
              <%= member.uid %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
