
<div class="container mt-4">
  <h1 class="mb-4">Add New Member</h1>

  <%= form_with(model: @user, url: manage_members_path, method: :post) do |form| %>
    
    <%= form.hidden_field :full_name, value: "Default Name" %>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :role %>
      <%= form.select :role, ["Member", "Admin"], {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :projects, "Team Membership", class: 'fw-bold' %><br>
      <% Project.all.each do |project| %>
        <div class="form-check">
          <%= form.check_box :project_ids, { multiple: true }, project.project_id, nil %>
          <%= form.label :project_ids, project.project_name, class: 'form-check-label' %>
        </div>
      <% end %>
    </div>

    <%= form.submit "Add Member", class: "btn btn-primary" %>
    <%= link_to "Cancel", manage_members_path, class: 'btn btn-secondary' %>
  <% end %>
</div>
