<head>
  <style>
    .card-img-top {
      height: 200px;
      object-fit: cover;
    }
    .card {
      transition: transform 0.3s ease;
    }
    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
  </style>
</head>
<body>
    <h1>Welcome to the AggieSat Laboratory Portal <%= current_user.full_name %>!</h1>
    <div class="container">
    <h1>Your Projects</h1>
    <div class="row">
        <% @projects.each do |project| %>
        <div class="col-md-4 mb-4">
            <div class="card">
            <%= image_tag("#{project.project_name}.png", :alt => "AggieSat Icon", :class => "card-img-top") %>
            <div class="card-body">
                <h5 class="card-title"><%= project.project_name %></h5>
                <p class="card-text">Project Leader: <% user = User.find_by(uid: project.leader_id) %>
                <% if user %>
                <li><%= user.full_name %></li>
                <% else %>
                <li>Project Manager Not Found</li>
                <% end %></p>
                <p class="card-text">Total Members: <%= ProjectMember.count_for_project(project.project_id) %></p>
                <%= link_to "", project_path(project.project_id), class: "stretched-link" %>
            </div>
            </div>
        </div>
        <% end %>
    </div>
    </div>
</body>