<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Project</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Create New Project</h1>

    <%= form_with(model: @project, local: true, html: { multipart: true }) do |form| %>
      <div class="form-group">
        <%= form.label :project_name, "Team Name", class: "font-weight-bold" %>
        <%= form.text_field :project_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :leader_id, "Manager", class: "font-weight-bold" %>
        <%= form.select :leader_id, User.all.sort_by { |user| user.full_name.split.last.downcase }.map { |user| [user.full_name, user.uid] }, {}, { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <%= form.label :project_id, "Team ID", class: "font-weight-bold" %>
        <%= form.number_field :project_id, class: "form-control", readonly: true %>
      </div>

      <div class="form-group">
        <%= form.label :project_photo, "Team Icon", class: "font-weight-bold" %>
        <%= form.file_field :project_photo, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit "Create Team", class: "btn btn-primary" %>
        <%= link_to "Cancel", projects_index_path, class: 'btn btn-secondary' %>
      </div>
    <% end %>

  </div>
</body>
</html>
