<h1><%= @project.project_name %></h1>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-15">
      <% if (User.find_by(uid: current_user.uid)).role == 'Admin' %>
      <div class="d-flex justify-content-end">
        <%= button_to "Edit", edit_project_path(@project), method: :get, class: "btn btn-primary mr-2 w-500", title: "Edit Project" %>
        <%= button_to "Delete", project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mr-2 w-500", title: "Delete Project" %>
      </div>
    <% end %>
    </div>
  </div>
  <ul class="nav nav-tabs" id="workdaysTabs" role="tablist">
    <li class="nav-item">
      <button class="nav-link active" id="upcoming-tab" data-bs-toggle="tab" data-bs-target="#upcoming-tab-pane" type="button" role="tab" aria-controls="upcoming-tab-pane" aria-selected="true">Upcoming Workdays</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="previous-tab" data-bs-toggle="tab" data-bs-target="#previous-tab-pane" type="button" role="tab" aria-controls="previous-tab-pane" aria-selected="false">Previous Workdays</button>
    </li>
  </ul>
  <div class="tab-content" id="workdaysTabsContent">
    <div class="tab-pane fade show active" id="upcoming-tab-pane" role="tabpanel" aria-labelledby="upcoming-tab">
      <div class="row mt-3">
        <% @upcoming_workdays.each do |workday| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Upcoming Workday</h5>
                <p class="card-text">Date: <%= workday.day %></p>
                <% if (@approval_status.where(schedule_id: workday.id)).first %>
                  <% if ((@approval_status.where(schedule_id: workday.id)).first).approval_status %>
                    <p class="card-text">Status: Approved</p>
                  <% end %>
                <% else %>
                  <p class="card-text">Status: Null</p>
                <% end %>
                <% if workday.day <= Time.zone.today %>
                  <%= form_with(url: create_record_project_path(@project), method: :post, local: true) do |form| %>
                    <%= form.hidden_field :workday_id, value: workday.id %>
                    <%= form.submit "Check In", class: "btn btn-primary" %>
                  <% end %>
                <% else %>
                  <%= form_with(url: create_record_project_path(@project), method: :post, local: true, html: { disabled: true }) do |form| %>
                    <%= form.hidden_field :workday_id, value: workday.id %>
                    <%= form.submit "Check In", class: "btn btn-primary", disabled: true %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    <div class="tab-pane fade" id="previous-tab-pane" role="tabpanel" aria-labelledby="previous-tab">
      <div class="row mt-3">
        <% @previous_workdays.each do |workday| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Previous Workday</h5>
                <p class="card-text">Date: <%= workday.day %></p>
                <% if (@previous_status.where(schedule_id: workday.id)).first %>
                  <% if ((@previous_status.where(schedule_id: workday.id)).first).approval_status %>
                    <p class="card-text">Status: Approved</p>
                  <% end %>
                <% else %>
                  <p class="card-text">Status: Null</p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
