<h1><%= @project.project_name %></h1>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-15">
      <% if User.find_by(uid: current_user.uid).role == 'Admin' %>
        <div class="d-flex justify-content-end">
          <%= button_to "Edit Team", edit_project_path(@project), method: :get, class: "btn btn-primary mr-2 w-500", title: "Edit Project" %>
          <%= button_to "Delete Team", delete_project_confirm_project_path(@project), method: :get, class: "btn btn-danger mr-2 w-500", title: "Delete Project" %>
        </div>
      <% end %>
    </div>
  </div>
  <ul class="nav nav-tabs" id="workdaysTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" href="#create-tab-pane">Create Workdays</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#upcoming-tab-pane">Upcoming Workdays</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#previous-tab-pane">Previous Workdays</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#members-tab-pane">Manage Members</a>
    </li>
  </ul>
  <div class="tab-content" id="workdaysTabsContent">
    <div class="tab-pane" id="create-tab-pane" role="tabpanel">
      <div class="row mt-3">
        <%= form_with(model: @scheduled_workday, url: scheduled_workdays_path, method: :post) do |form| %>
          <%= form.hidden_field :program_manager_id, value: current_user.uid %>
          <%= form.hidden_field :project_id, value: @project.project_id %>
          <div class="form-group">
            <%= form.label :day %>
            <%= form.date_field :day, class: "form-control" %>
          </div>
          <br>
          <%= form.submit "Create Scheduled Workday", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane" id="upcoming-tab-pane" role="tabpanel">
      <div class="row mt-3">
        <% @upcoming_workdays.each do |workday| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pending Status For Members</h5>
                <p class="card-text">Date: <%= workday.day %></p>
              <% (@pending_members.where(schedule_id: workday.id)).each do |member| %>
                <% if member.approval_status == false %>
                  <li>
                  <%= User.find_by(uid: member.user_id).full_name %> 
                  <%= form_with(url: accept_member_project_path(@project), method: :post, local: true) do |form| %>
                    <%= form.hidden_field :schedule_id, value:  workday.id %>
                    <%= form.hidden_field :user_id, value:  member.user_id %>
                    <%= form.submit "Accept", class: "btn btn-primary mr-2 mt-2" %>
                  <% end %>
                  <%= form_with(url: reject_member_project_path(@project), method: :post, local: true) do |form| %>
                    <%= form.hidden_field :schedule_id, value:  workday.id %>
                    <%= form.hidden_field :user_id, value:  member.user_id %>
                    <%= form.submit "Reject", class: "btn btn-primary" %>
                  <% end %>
                  </li>
                <% end %>
              <% end %>
              <h5 class="card-title">Approved Status For Members</h5>
              <% (@pending_members.where(schedule_id: workday.id)).each do |member| %>
                <% if member.approval_status %>
                  <li>
                  <%= User.find_by(uid: member.user_id).full_name %> 
                  </li>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="previous-tab-pane" role="tabpanel">
  <div class="row mt-3">
    <% @previous_workdays.each do |workday| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Previous Workday</h5>
            <p class="card-text">Date: <%= workday.day %></p>
                <%= form_tag(project_workday_csv_path(format: 'csv'), method: :get) do %>
                  <%= hidden_field_tag :project_id, @project.project_id %>
                  <%= hidden_field_tag :schedule_id, workday.id %>
                  <%= submit_tag "Export Workday Attendance", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane" id="members-tab-pane" role="tabpanel">
      <div class="row mt-3">
        <div class="col-md-6">
          <%= render 'add_members_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
