<!-- app/views/pdf_processor/processed_data.html.erb -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Processed Data</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Include your custom styles -->
  <link rel="stylesheet" href="/assets/pdfstyles.css">
</head>
<body>

  <div class="container">
    <h1>Courses Uploaded</h1>
<%= link_to 'Back to all Courses', upload_path, class: 'btn btn-custom' %>
    <% if @processed_data.present? %>
     <table class="table">
  <thead>
    <tr>
      <th>Course ID</th>
      <th>User</th>
      <th>Completion Date</th>
    </tr>
  </thead>
  <tbody>
    <% @processed_data.each do |enrollment| %>
      <tr>
        <td><%= enrollment[:course_id] %></td>
        <td><%= User.find_by(id: enrollment[:user_id]).full_name %></td>
        <td><%= enrollment[:completion_date] %></td>
        <td>
          <% valid_result = enrollment[:status] %>
          <% if valid_result == "Expired!" %>
            <span class="text-danger"><%= valid_result %></span>
          <% elsif valid_result == "Expiring Soon!" %>
            <span class="text-warning"><%= valid_result %></span>
          <% else %>
            <span class="text-success"><%= valid_result %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

    <% else %>
      <p>No new courses could be found in this file. Please upload a valid file with the expected courses.</p>
    <% end %>
    
  </div>

</body>
</html>
