<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload PDF</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Include your custom styles -->
  <link rel="stylesheet" href="/assets/pdfstyles.css">
</head>
<body>

<div class="container">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">My Training Status</h1>
      <h5>To submit your training status, upload a transcript of your PDF. Trainings expire after one year of completion and must be redone in order to participate in workdays.</h5>
      
      <%= form_tag({ action: :process_pdf }, multipart: true) do %>
        <div class="form-group">
          <%= file_field_tag :pdf, class: 'form-control-file' %>
        </div>
        <%= submit_tag 'Upload PDF', class: 'btn btn-custom btn-block' %>
      <% end %>

      <hr>

      <h3 class="card-title">Training Courses</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Course</th>
            <th>Completion Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @enrollments.each do |enrollment| %>
            <tr>
              <td><%= enrollment[:course_title] %> - <%= enrollment[:course_id] %></td>
              <td><%= enrollment[:date] %></td>
              <td><%= enrollment[:result] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pl-5 pt-5">
    <%= link_to "Export Trainings to CSV", pdf_processor_csv_path(format: 'csv') %>
  </div>


</body>
</html>
